name: React Vite CI/CD to EC2 (No Nginx)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install deps
        run: npm install

      - name: Build app
        run: npm run build

      - name: Prepare folder on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            mkdir -p /home/ec2-user/eco-engage

      - name: Copy build to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "dist/*"
          target: "/home/ec2-user/eco-engage"

      - name: Restart static server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            if [ -f /home/ec2-user/eco-engage/server.pid ]; then
              kill -9 $(cat /home/ec2-user/eco-engage/server.pid) || true
            fi
            nohup /usr/bin/serve -s /home/ec2-user/eco-engage -l 3000 > /dev/null 2>&1 &
            echo $! > /home/ec2-user/eco-engage/server.pid
